<h2>OAuth Redirected To Azure Active Directory</h2>
 
<button class="btn btn-default" (click)="login()">
    Login With AD
</button>
<button class="btn btn-default" (click)="logoff()">
    Logout
</button>
 